.container {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 60px);
  width: 100%;
  align-items: center;
  justify-content: center;
}

.rightContainer {
  display: flex;
  flex-direction: column;
  width: 66.666%;
  height: 100%;
  padding-top: 1rem;
}